.about-bg {
  background-color: #f5fcff;
  height: 600px;
  display: flex;
}
.about-bg h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.about-bg h2 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
}
.about-bg p {
  font-size: 18px;
  font-weight: 400;
  color: #1c1e53;
}
.about-bg button {
  width: 170px;
  height: 70px;
  color: #5e3bee;
  border-radius: 5.33px;
  gap: 10.67px;
  padding: 18.67px, 42.67px, 18.67px, 42.67px;
  background-color: #ffffff;
  border: none;
  font-weight: 400;
  font-size: 21.33px;
  margin-top: 30px;
  border: 1px solid #5e3bee;
}

.about-bg button:hover {
  color: #ffffff;
  background-color: #5e3bee;
}

@media (max-width: 768px) {
  .about-bg h2 {
    font-size: 45px;
  }
}
@media (max-width: 425px) {
  .image-contact {
    display: none;
  }
  .about-bg h2 {
    font-size: 39px;
  }
  .about-bg {
    height: 750px;
  }

  .this-con {
    /* margin-top: 50px; */
    flex-direction: column-reverse;
  }

  .image-man {
    margin-top: 40px;
  }

  .this-con h2 {
    font-size: 30px;
  }

  .this-con button {
    margin-top: 0px;
  }
}

@media (max-width: 320px) {
  .image-content {
    display: none;
  }
}
