.optionss a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #1c1e53;
  font-family: "Roboto", sans-serif;
}
.optionss a:hover {
  cursor: pointer;
  color: #5e3bee;
}
.butt {
  border-radius: 5.33px;
  padding: 18.67px, 42.67px, 18.67px, 42.67px;
  border: 1.33px solid #5e3bee;
  gap: 10.67px;
  color: #5e3bee;
  font-weight: 400;
  font-size: 18px;
  width: 130px;
  height: 50px;
  background-color: white;
}

.butt:hover {
  background-color: #5e3bee;
  color: #ffffff;
}
